@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    box-sizing: border-box;
  }
}

body {
  box-sizing: border-box;
  color: rgb(var(--foreground-rgb));
  background: #020617;
    }

/* #mainID{
  height: calc(100vh - 88px);
}

#skillsID{
  height: 100vh;
}

#projectsID{
  height: calc(100vh - 20px);
}

#contactID{
  height: calc(100vh - 162px);
} */